%p= 'Entrepreneur. I love SaaS. Currently building <a href="https://prospect.io">Prospect.io</a>.'
%p= '<a href="mailto:vincenzo@prospect.io">vincenzo@prospect.io</a> • <a href="https://twitter.com/vincenzor">@vincenzor</a>'
