!!! 5
%html{xmlns: "http://www.w3.org/1999/xhtml", lang: "en"}
  %head
    %title Vincenzo Ruggiero
    %meta{charset: 'utf-8'}
    %meta{content: 'width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no', name: 'viewport'}
    = stylesheet_link_tag :site
    = javascript_include_tag :all
  %body.application
    %header
      #avatar
        %a{href: '/'}
          = image_tag('vincenzo.jpg')
      #logo
        %a{href: '/'} Vincenzo Ruggiero
        %hr
    #main
      = yield
